* {
  margin: 0;
  padding: 0;
  transition: all 0.35s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke !important;
}
body .containerSite {
  width: 1280px;
}
body .containerSite .header {
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1542d8;
}
body .containerSite .header--home {
  height: 576px;
  background-color: transparent;
}
body .containerSite .header nav {
  width: 1000px;
  height: 80px;
  position: fixed;
  top: 24px;
  left: calc(50% - 500px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffc629;
  border-radius: 8px;
  padding: 8px;
  border: solid 2px #1542d8;
}
body .containerSite .header nav .logo {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .containerSite .header nav .menu {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .containerSite .header nav .menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .containerSite .header nav .menu ul li {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
body .containerSite .header nav .menu ul li a {
  color: #1542d8;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
body .containerSite .header nav .menu ul li:hover {
  background-color: #1542d8;
}
body .containerSite .header nav .menu ul li:hover a {
  color: #ffc629;
}
body .containerSite .header nav .carrito {
  width: 64px;
  height: 64px;
  background-color: #1542d8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  animation: animation-carrito 1.7s ease-in-out infinite;
}
body .containerSite .header nav .carrito img {
  width: 56px;
  height: 56px;
}
@keyframes animation-carrito {
  0% {
    box-shadow: 0px 0px 0px 0px #1542d8;
  }
  50% {
    box-shadow: 0px 0px 10px 5px #1542d8;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #1542d8;
  }
}
body .containerSite .header .banner {
  width: 100%;
  z-index: -1;
}
body .containerSite .header .banner #carouselExampleAutoplaying {
  height: 576px;
  overflow: hidden;
}
body .containerSite section {
  width: 100%;
}
body .containerSite section .ofertas {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1542d8;
  overflow: hidden;
}
body .containerSite section .ofertas .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .containerSite section .ofertas .left h3 {
  color: white;
}
body .containerSite section .ofertas .left p {
  color: white;
  line-height: 16px;
}
body .containerSite section .ofertas .left button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: #ffc629;
  border: none;
  font-weight: bold;
  color: #1542d8;
}
body .containerSite section .ofertas .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
body .containerSite section .ofertas .right img {
  width: 100%;
}
body .containerSite section .precios {
  background-color: #ffc629;
}
body .containerSite section .precios h3 {
  width: 100%;
  text-align: center;
  padding: 16px;
  color: #1542d8;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-indicators {
  padding-top: 16px !important;
  position: relative;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-indicators button {
  background-color: #1542d8;
}
body .containerSite section .precios #carouselExampleIndicators button .carousel-control-prev-icon {
  background-color: #1542d8;
  border-radius: 8px;
}
body .containerSite section .precios #carouselExampleIndicators button .carousel-control-next-icon {
  background-color: #1542d8;
  border-radius: 8px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-control-prev {
  width: 80px;
  left: 30px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-control-next {
  width: 80px;
  right: 30px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product {
  width: 192px;
  height: 192px;
  background-color: #1542d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 24px;
  border-radius: 8px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product img {
  padding-bottom: 16px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product p {
  text-align: center;
  margin: 0;
  color: white;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product .options {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product .options .price {
  width: 90%;
  background-color: #ffc629;
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 8px;
  color: #1542d8;
  font-weight: bold;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product .options button {
  width: 32px;
  height: 32px;
  background-image: url("../images/icon/agregar.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
body .containerSite section .precios #carouselExampleIndicators .carousel-inner .carousel-item .carousel-item-content .product .options button:active {
  background-color: white;
}
body .containerSite section .conoceme1 {
  display: flex;
  flex-direction: row;
  z-index: 99999;
  background-color: #ffc629;
}
body .containerSite section .conoceme1 aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1542d8;
}
body .containerSite section .conoceme1 aside h3 {
  width: 100%;
  color: #ffc629;
  text-align: center;
  text-decoration: underline;
}
body .containerSite section .conoceme1 aside p {
  width: 100%;
  padding: 24px;
  text-align: center;
  line-height: 32px;
  color: white;
}
body .containerSite section .conoceme1 aside img {
  width: 100%;
  height: 460px;
  border-radius: 0 0 50px 0;
}
body .containerSite section .conoceme1 aside:nth-child(1) {
  width: 50%;
  border-radius: 0 0 0 50px;
}
body .containerSite section .conoceme1 aside:nth-child(2) {
  width: 50%;
  border-radius: 0 0 50px 0;
}
body .containerSite section .conoceme2 {
  background-color: #ffc629;
  display: flex;
  flex-direction: row;
  z-index: -1;
  overflow: hidden;
}
body .containerSite section .conoceme2 aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .containerSite section .conoceme2 aside h3 {
  width: 100%;
  color: #1542d8;
  text-align: center;
  text-decoration: underline;
}
body .containerSite section .conoceme2 aside p {
  width: 100%;
  padding: 24px;
  text-align: center;
  line-height: 32px;
  color: black;
}
body .containerSite section .conoceme2 aside img {
  width: 100%;
  height: 460px;
}
body .containerSite section .conoceme2 aside:nth-child(2) {
  width: 50%;
}
body .containerSite section .conoceme2 aside:nth-child(1) {
  width: 50%;
}
body .containerSite section .mapa {
  display: flex;
  flex-direction: column;
  background-color: #ffc629;
}
body .containerSite section .mapa h3 {
  width: 100%;
  text-align: center;
  color: #1542d8;
}
body .containerSite section .mapa .sedes {
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
body .containerSite section .mapa .sedes a {
  background-color: #1542d8;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffc629;
  text-decoration: none;
  font-weight: bold;
}
body .containerSite section .horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1542d8;
  padding: 16px;
}
body .containerSite section .horario h3 {
  width: 100%;
  text-align: center;
  color: #ffc629;
}
body .containerSite section .horario .dias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
body .containerSite section .horario .dias div {
  width: 320px;
  background-color: #ffc629;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .containerSite section .horario .dias div .hora {
  padding-right: 10px;
}
body .containerSite section .horario .dias div .activo {
  display: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: red;
  padding: 10px;
  animation: animation_activo 1s ease-in-out infinite;
}
@keyframes animation_activo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .containerSite footer {
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1542d8;
}
body .containerSite footer aside {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .containerSite footer aside p {
  font-weight: bold;
  color: white;
}
body .containerSite footer .line {
  width: 8px;
  height: 50%;
  background-color: #ffc629;
}
body .containerSite footer .redes {
  display: flex;
  flex-direction: column;
}
body .containerSite footer .redes .icons {
  display: flex;
  gap: 16px;
}
body .containerSite footer .metodos {
  display: flex;
  flex-direction: column;
}
body .containerSite footer .metodos .icons {
  display: flex;
  gap: 16px;
}
body .containerSite footer .info {
  display: flex;
  flex-direction: column;
  line-height: 8px;
}
body .containerSite footer .info .email {
  color: #ffc629;
}
body .containerSite .copyright {
  width: 100%;
  background-color: whitesmoke;
}
body .containerSite .copyright p {
  padding-top: 8px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
body .whatsapp {
  width: 56px;
  height: 56px;
  right: 192px;
  bottom: 48px;
  z-index: 999999999;
  background-color: transparent;
  display: flex;
  position: fixed;
}
body .carritoDetalle {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 400px;
  height: 400px;
  background-color: #ffc629;
  border: solid 2px #1542d8;
  top: 10%;
  left: 8px;
  border-radius: 8px;
  padding: 8px;
}
body .carritoDetalle .header {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  background-color: transparent;
}
body .carritoDetalle .header p {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #1542d8;
  font-weight: bold;
  padding-top: 8px;
  text-decoration: underline;
}
body .carritoDetalle .lista {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 16px;
}
body .carritoDetalle .lista::-webkit-scrollbar {
  width: 4px;
}
body .carritoDetalle .lista::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}
body .carritoDetalle .lista::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168);
  border-radius: 0px;
}
body .carritoDetalle .lista::-webkit-scrollbar-thumb:hover {
  background-color: rgb(139, 139, 139);
  cursor: auto;
}
body .carritoDetalle .lista .item {
  width: 96%;
  height: 56px;
  display: flex;
  flex-direction: row;
  border: solid 2px #1542d8;
  border-radius: 0 0 8px 8px;
}
body .carritoDetalle .lista .item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .carritoDetalle .lista .item div p {
  padding-top: 16px;
  font-weight: bold;
}
body .carritoDetalle .lista .item .image {
  width: 20%;
  border-right: solid 2px #1542d8;
}
body .carritoDetalle .lista .item .description {
  width: 20%;
  border-right: solid 2px #1542d8;
}
body .carritoDetalle .lista .item .description p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
body .carritoDetalle .lista .item .price {
  width: 20%;
  border-right: solid 2px #1542d8;
}
body .carritoDetalle .lista .item .price p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
body .carritoDetalle .lista .item .amount {
  width: 10%;
  border-right: solid 2px #1542d8;
}
body .carritoDetalle .lista .item .amount p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
body .carritoDetalle .lista .item .subtotal {
  width: 20%;
  border-right: solid 2px #1542d8;
}
body .carritoDetalle .lista .item .subtotal p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
body .carritoDetalle .lista .item .delete {
  width: 10%;
}
body .carritoDetalle .lista .item .delete button {
  width: 32px;
  height: 32px;
  background-image: url("../images/icon/delete.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
  border: none;
}
body .carritoDetalle .totales {
  width: 100%;
  bottom: 0;
  background-color: #1542d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
body .carritoDetalle .totales:hover {
  background-color: green;
}
body .carritoDetalle .totales p {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 16px;
}

.carousel-item {
  display: flex;
  background-color: transparent;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

/*# sourceMappingURL=style.css.map */
